html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
body {
  width: 100%;
  height: 100%;
  background-image: url('../../images/bcgBook.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;

  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #fff !important;
  opacity: 0.7;
}
table th {
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  text-align: center;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ffd300;
}
table td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
  text-align: center;
}
table tbody tr:nth-child(even) {
  background: #f8f8f8 !important;
}

caption {
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Helvetica Neue', 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  color: rgb(233, 10, 10);
}
